@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

p{
    font-family: 'Lato', sans-serif;
}
.box {
    background-color: #ffce3c;
    border-radius: 25px;
}
.box p{
    padding-left: 20px !important;
    padding-right: 8px;
}
.box h5{
    padding-left: 8px;
    padding-right: 8px;
    text-align: right;
}
