@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

*{
    font-family: 'JetBrains Mono', monospace;
}
.myName{
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
    font-size: 100px;
    background-color: #ffce3c;
}
.welcome{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #5f5f5f;
    color: #ffce3c;
}

